<html>

<head>
  <title>Bitcoin trend app</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <h3><a href="javascript:history.back()">Go Back</a></h3>

  <h2>ERROR!</h2>

  <br/><br/>
  <h3><%- errorMessage %></h3>

</body>

</html>